body {
  color: $gray-500;
  background: $gray-100;
}

.leftpane {
  @include make-col(4.5);
  @include make-col-ready();
  // position: fixed;
  // top: 0;
  // left: 0;
  // bottom: 0;
  // right: 0;
  background: #fbe7e3;
  // padding: 2rem;
  position: relative;
  padding: (4rem/$divisor);

  @include media-breakpoint-down(md) {
    @include make-col(12);
    display: none;
  }
}

.leftpane--success {
  @include make-col(4.5);
  @include make-col-ready();

  background: url(../img/success-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  @include media-breakpoint-down(sm) {
    @include make-col(12);
    // display: none;
    height: (20rem / $divisor);
    background-position: center;
  }
}

.rightpane--success {
  @include make-col(7.5);
  @include make-col-ready();
  padding: (4rem/$divisor);
  max-width: 900px;
  margin: 0 auto;

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

@include media-breakpoint-down(md) {
  .leftpane--show-mobile {
    display: block;
    padding: (1.5rem / $divisor);
    padding-bottom: 0px;
    background: #fbe7e3;
  }
}

.leftpane-inner {
  // @include make-col(4);
  // position: fixed;
  // top: (4rem / $divisor);
  // bottom: (4rem / $divisor);
  // left: (4rem / $divisor);
  // right: (4rem / $divisor);
  background: white;
}

.rightpane {
  @include make-col(7.5);
  @include make-col-ready();
  padding: (4rem/$divisor);
  max-width: 900px;
  margin: 0 auto;

  @include media-breakpoint-down(md) {
    @include make-col(12);
  }
}

.rightpane-full-col {
  @include make-col(12);
  @include make-col-ready();
  padding: 0 (4rem/$divisor) 15px (4rem/$divisor);

  @include media-breakpoint-down(sm) {
    padding: 0 15px (4rem/$divisor) 0;
  }
}

.rightpane-half-col--dish {
  @include make-col(6);
  @include make-col-ready();
  padding: 0 (4rem/$divisor);
  @include media-breakpoint-down(sm) {
    padding: 0 0;
    @include make-col(12);
  }
}

.rightpane-half-col {
  @include make-col(6);
  @include make-col-ready();
  padding: 0 (4rem/$divisor);
  // @include make-col-offset("md",7.5);



  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }
}

.rightpane-half-col--step-btn {
  text-align: center;

  @include make-col(6);
  @include make-col-ready();
  padding: 0 (4rem/$divisor);
  // @include make-col-offset("md",7.5);



  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }
}

.delivery-form, .pay-form {
  padding: 0 (2rem / $divisor);

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

@include media-breakpoint-up(sm) {
  .rightpane-half-col:first-child, .rightpane-half-col--step-btn:first-child, .rightpane-half-col--dish:first-child {
    padding-right: (2rem / $divisor);
  }

  .rightpane-half-col:last-child, .rightpane-half-col--step-btn:last-child, .rightpane-half-col--dish:last-child {
    padding-left: (2rem / $divisor);
  }

}

.form-2-col {
  @include make-col-ready();
  @include make-col(2);

  @include media-breakpoint-down(xl) {
    @include make-col(3);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.form-10-col {
  @include make-col-ready();
  @include make-col(10);

  @include media-breakpoint-down(xl) {
    @include make-col(9);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.form-6-col {
  @include make-col-ready();
  @include make-col(6);

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.form-3-col {
  @include make-col-ready();
  @include make-col(3);

  @include media-breakpoint-down(sm) {
    @include make-col(6);
  }
}

.form-12-col {
  @include make-col-ready();
  @include make-col(12);
}

.form-12-col--no-margin {
  @include make-col-ready();
  @include make-col(12);
  margin-bottom: 0px !important;
}

.form-button-col {
  @include make-col-ready();
  @include make-col(4);

  @include media-breakpoint-up(md) {
    @include make-col-offset(8);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.form-button-col--checkout {
  @include make-col-ready();
  @include make-col(4);

  @include media-breakpoint-up(md) {
    @include make-col-offset(0);
  }

  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }
}

.form-9-col {
  @include make-col-ready();
  @include make-col(9);
  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.receipt__total-title {
  color: theme-color("primary");
  padding-left: (3rem / $divisor) !important;

  @include make-col-ready();
  @include make-col(6);
}

.receipt-total-row {
  @include make-row();
  margin: 0;
  background: url(../img/dashed-border-horizontal.jpg) repeat-x;
  background-position: top;
  padding-top: (3rem / $divisor);
  padding-bottom: (3rem / $divisor);
}

.receipt__total-amount {
  text-align: right;
  @include make-col-ready();
  @include make-col(6);
  padding-right: (2.5rem / $divisor) !important;
}

.checkout-btn-row {
  @include make-row();
}

.checkout-btn-col {
  @include make-col-ready();
  @include make-col(12);
  text-align: right;
}

.rightpane-success-icon-col {
  @include make-col-ready();
  @include make-col(2);
  max-width: (9rem / $divisor);

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    text-align: center;
    @include make-col(12);
  }
}

.rightpane-success-text-col {
  @include make-col-ready();
  @include make-col(8);

  @include media-breakpoint-down(sm) {
    max-width: 100%;
    text-align: center;
    @include make-col(12);
  }
}


.header-img-col, .header-text-col {
  @include make-col-ready();
  @include make-col(6);

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.header-text-col {
  text-align: center;
  padding: 0 (4.5rem / $divisor);
  padding-bottom: (2rem / $divisor);

  @include media-breakpoint-down(sm) {
    padding: 0 15px;
  }
}

.header-img-col {
  background-position: top;
  background-repeat: no-repeat !important;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.the-dishes-col {
  @include make-col-ready();
  @include make-col(12);
  text-align: center;
  padding-bottom: (4.5rem / $divisor);
}

.dish-col {
  @include make-col(4);
  @include make-col-ready();
  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.the-dishes-order-col {
  @include make-col-ready();
  @include make-col(12);
  text-align: center;
  margin-top: (6rem / $divisor);
  margin-bottom: (5rem / $divisor);

}


.homepage-video-col {
  @include make-col-ready();
  @include make-col(12);
  margin-top: (6rem / $divisor);

}

.faq-title-col {
  @include make-col-ready();
  @include make-col(12);
  margin-bottom: (5rem / $divisor);
}

.faq-col {
  @include make-col-ready();
  @include make-col(6);

  @include media-breakpoint-down(sm) {
    @include make-col(12);
  }
}

.faq-order-now-col {
  @include make-col-ready();
  @include make-col(12);
  text-align: center;
  margin-top: (6rem / $divisor);
  margin-bottom: (5rem / $divisor);
}
