.checkout {
  @include make-container();
}

.white-section {
  background: white;
}

.off-white-section {
  background: #fdf5f3;
}

.homepage-container {
  @include make-container();
  padding-top: (4.5rem / $divisor);
  padding-bottom: (4.5rem / $divisor);
  max-width: 960px;
}

.homepage {
  background: #fff;

  h1 {
    font-weight: 600;
  }
}
