@import 'variables';
@import 'mixins';
@import 'base';

h1 {
  font-weight: 800;
}

.btn-lg {
  font-weight: 700;
}

.btn-secondary {
  transition: all 0.3s ease 0s;
}

.btn-secondary:hover {
  background: theme-color("primary");
  color: white;
}
