.btn {
  color: white;
  // font-weight: 500;
}

.btn:hover {
  color: white;
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: (31px / $divisor);
    height: (18px / $divisor);
    // border-style: solid;
    // border-width: 5px 5px 0 5px;
    // border-color: #808080 transparent transparent transparent;
    border: none !important;
    background: url("../img/down-arrow.jpg") no-repeat;
    background-size: contain;
    // background-position: contain;
}

.selectize-input {
  border-radius: 0px !important;
}

.next-btn {
  font-size: (2rem / $divisor);
  color: theme-color("primary") !important;

}
