.dish-card {
  background: white;
  padding: (2.5rem / $divisor);
  margin-bottom: (4rem / $divisor);
  position: relative;
}

.dish-card-overlay {
  position: absolute;
  background: $gray-100;
  bottom: 0;
  left: 0;
  right: 0;
  top:1;
  z-index: 999;
  opacity: 0.5;
  transition: all 0.3s ease 0s;
}

.dish-card-overlay--show.dish-card-overlay--show {
  top:0;
}

.dish-card__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.dish-card__image {
  margin-bottom: (2.5rem / $divisor);
}

.dish-card__title {

}

.dish-card__product-count, .dish-card__product-count--active {
  font-weight: 700;
}

.dish-card__circle-button--minus, .dish-card__circle-button--plus, .dish-card__circle-button--minus-disabled, .dish-card__circle-button--plus-disabled {
  width: (2.05rem / $divisor);
  height: auto;

}

.dish-card__circle-button--minus a, .dish-card__circle-button--minus-disabled a, .dish-card__circle-button--plus a, .dish-card__circle-button--plus-disabled a {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

.dish-card__circle-button--minus {
  background: url("../img/minus.svg") no-repeat;
}

.dish-card__circle-button--minus-disabled {
  background: url("../img/minus-disabled.svg") no-repeat;
}

.dish-card__circle-button--minus:hover {
  background: url("../img/minus-hover.svg") no-repeat
}

.dish-card__circle-button--plus {
  background: url("../img/plus.svg") no-repeat;
}

.dish-card__circle-button--plus-disabled {
  background: url("../img/plus-disabled.svg") no-repeat;
}

.dish-card__circle-button--plus:hover {
  background: url("../img/plus-hover.svg") no-repeat
}

.dish-card__circle-button--plus, .dish-card__circle-button--plus-disabled {
  line-height: (2.7rem / $divisor);
  text-align: center;

  // padding-left: (0.45rem / $divisor);
  float: right;
  margin-left: (1rem / $divisor);
}

.dish-card__circle-button--minus, .dish-card__circle-button--minus-disabled {
  float: left;
  line-height: (2.15rem / $divisor);
  text-align: center;
  margin-right: (1rem / $divisor);
  // padding-left: (0.65rem / $divisor);
}

.dish-card__product-count, .dish-card__product-count--active {
  line-height: (2.4rem / $divisor);
  font-size: (2.9rem/$divisor);
  margin-right: -2px;
}

.dish-card__product-count--active {
  color: theme-color("primary");
}

.dish-card-row {
  @include make-row();
}

.dish-card-title-col {
  @include make-col-ready();
  @include make-col(7);



  @media (max-width: 1217px) {
      @include make-col(12);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(7);
  }
}

.dish-card-counter-col {
  @include make-col-ready();
  @include make-col(5);
  text-align: center;



  @media (max-width: 1217px) {
    @include make-col(12);
    // @include make-col-offset(3);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(5);
  }
}

.dish-card__counter {
  max-width: 90px;

  @include media-breakpoint-down(sm) {
    float: right;
  }

  @include media-breakpoint-up(xl) {
    float: right;
  }
}
