.homepage-video-col {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
  	margin-bottom: (2.5rem / $divisor);
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
	margin-top: 0;
}
.homepage-text-col {
	text-align: center;
    padding: 0 3rem;
    padding-bottom: 1.33333rem;
	position: relative;
	width: 100%;
	min-height: 1px;

	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
	justify-content: center;
	align-items: center;

	.homepage__video-name {
		text-align: left;

		span {
			color: #707070;
			text-transform: uppercase;
			font-size: 17px;
		}
	}
	.homepage__video-description {
		text-align: left;
		line-height: 1.5;
	}
}

.homepage-video__wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.homepage-banner img {
  width: 100%;
  height: auto;
}
