.homepage__competition-banner {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    flex-grow: 2;
}
.homepage__competition-banner img {
    display: block;
    width: 100%;
    height: auto;
}
.competition-header-text-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.homepage__competition-intro {
  font-weight: 500;
  margin-bottom: (2rem / $divisor);
  margin-top: (2rem / $divisor);
  color: #707070;
  text-transform: uppercase;
  font-size: 17px;
}

.homepage__competition-name {
  font-weight: 700;
}

.homepage__competition-description {
  line-height: (2.5rem / $divisor);
  margin-top: (3rem / $divisor);
  margin-bottom: (4rem / $divisor);
}
