.homepage__campaign-intro {
  font-weight: 500;
  margin-bottom: (2rem / $divisor);
  text-align: left;
  color: #707070;
  text-transform: uppercase;
  font-size: 17px;
}

.homepage__campaign-name {
  font-weight: 700;
  text-align: left;
}

.homepage__campaign-description {
  line-height: (2.5rem / $divisor);
  margin-top: (3rem / $divisor);
  margin-bottom: (4rem / $divisor);
  text-align: left;
}

.order-btn {
  font-weight: 400;
  width: (25rem / $divisor);
  max-width: 100%;

  &.left {
       float: left;
  }
}
