
.dish-col {
    padding-left: 5px;
    padding-right: 5px;
}
.the-dishes-col {
    padding-bottom: 0;
}
.homepage__dishes-name {
    font-size: 30px;
    text-transform: uppercase;
    text-align: left;
    font-weight: 600;
}
.homepage__dishes-description {
    padding-left: 15px;
    line-height: (2.5rem / $divisor);
    margin-top: (3rem / $divisor);
    margin-bottom: (4rem / $divisor);
}
.homepage-dish-card__image img {
  max-width: 100%;
  height: auto;
}

.homepage-dish-card__description {
  color: theme-color("primary");
  margin-top: (2.5rem / $divisor);
  margin-bottom: (1rem / $divisor);
  text-transform: uppercase;
  font-size: 14px;
}

.homepage-dish-card__title {
  font-size: (2rem / $divisor);
  font-weight: 700;
  height: 50px;
}

.homepage-dish-card {
  margin-bottom: (3.5rem / $divisor);

  @include media-breakpoint-down(sm) {
    text-align: center;
  }

  a {
    color: $headings-color;
    font-size: 20px;
  }
}

.order-btn {
    text-transform: uppercase;
    font-weight: 700;
}
