.menu-card {
  width: 100%;
  background: $white;
  //padding: 1rem;
  position: relative;
  margin-bottom: (4rem / $divisor);
}

.menu-card__punch img {
  position: absolute;
  left: (15px / $divisor);
  top: (15px / $divisor);
}

.menu-card__punch img {
  width: (32px / $divisor);
  height: (32px / $divisor);
}

.menu-card-header {
  width: 100%;
  padding: (1rem / $divisor);
  text-align: center;
  color: theme-color("primary");
  border-bottom: solid 1px #ffd8d0;
  margin-bottom: (1rem /$divisor);
}

.menu-card-header h2 {
  color: theme-color("primary");
  margin-bottom: 0px;
}

.menu-card-main {
  border-top: solid 1px #ffd8d0;
  padding: (1rem / $divisor) (2.5rem / $divisor);
}

.menu-card-main__servings {
  width: 100%;
}

.menu-card-main__icon {
  padding-bottom: (0.5rem / $divisor);
}

.menu-card-main__icon {
  width: auto;
  text-align: left;
  padding-top: 0;
  width: 60px;
  padding-bottom: (1rem / $divisor);
}

.menu-card-main__icon img{
  width: (38px / $divisor);
  height: auto;
}

.menu-card-main__icon-text--light, .menu-card-main__icon-text--main {
  vertical-align: middle;
  padding-bottom: (1rem / $divisor);
  padding-top: (0.5rem / $divisor);
  font-size: (1.2rem/$divisor);
}

.menu-card-main__icon-text--light, .menu-card-main__icon-text--main span {
  vertical-align: middle;
}

.menu-card-main__icon-text--light {
  color: #737373;
}

.menu-card-footer {
  border-top: solid 1px #ffd8d0;
  background: $white;
  padding: (2rem/$divisor);
}

.menu-card-footer__price {
  width: 100%;
  text-align: center;
}

.menu-card-footer__price h1 {
  color: theme-color("primary");
}

.menu-card-footer .btn {
  color: $headings-color;
  border-color: $gray-300;
}

.menu-card-footer .btn:hover {
  border-color: $white;
}
