.navbar {
  background: white;
  border-bottom: #cacaca 1px solid;
  padding-bottom: 0px;
  padding-top: 0px;
}

.brand-logo--desktop {
  max-width: 120px;
  height: 100%;
  position: absolute;
  left: (1.5rem / $divisor);
  top: (1rem / $divisor);

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.brand-logo--mobile {
  max-width: 120px;
  height: 100%;
  margin: (1rem / $divisor) auto;
}

.brand-logo--desktop img, .brand-logo--mobile img {
  max-width: 100%;
  height: auto;
}

.mobile-nav {
  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.cart-link {
  position: absolute;
  right: (1rem / $divisor);
}

.steps-container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  min-height: 57px;
  text-align: center;

  @include media-breakpoint-down(md) {
    min-height: 40px;
  }
}

.steps {
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  margin-top: (1.5rem / $divisor);
  list-style: none;
  padding-left: 0px;

  @include media-breakpoint-down(md) {
    margin-top: (1rem / $divisor);
  }
}

.steps li+li {
    margin-left: 67px;
    @include media-breakpoint-down(md) {
      margin-left: 16px;
    }
}

.steps li {
  position: relative;
  float: left;
  margin-left: 0;

}

.steps li + li:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 32px;
    height: 0;
    margin-left: -52px;
    margin-top: -1px;
    border: solid $gray-300 1px;
    border-bottom: none;

    @include media-breakpoint-down(md) {
      width: 0px;
    }
}

.steps__circle {
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $gray-300;
    color: white;
    font-size: 12px;
    font-weight: bold;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    margin-right: 10px;
    line-height: (2rem/$divisor);
}

.steps__text:hover {
  color: $headings-color;
}

.steps__circle:hover {
  color: white;
  background: $headings-color;
}

.steps__circle:hover {
  text-decoration: none;
}

.steps__text {
  display: inline-block;
  line-height: 22px;
  color: $gray-300;
  font-size: (1.5rem / $divisor);
  @include media-breakpoint-down(md) {
    display: none;
  }

}

.steps .steps__step--active .steps__text {
  color: theme-color("primary");
}

.steps .steps__step--active .steps__circle {
  background-color: theme-color("primary");
}
