.voucher-divider {
  width: 100%;
  height: 1px;
  // background-color: #f8beb1;
  margin: (3rem / $divisor) 0;
}

.pay-form .row > div {
  margin-bottom: (2rem / $divisor);
}

.form-terms-col {
  @include make-col(4);
  @include make-col-ready();
  @include make-col-offset(4);
  text-align: right;
  line-height: (5rem / $divisor);

  @include media-breakpoint-down(xs) {
    @include make-col(12);
    @include make-col-offset(0);
    text-align: left;
  }

}

.voucher-btn {
  min-width: 100px;
}

.pay-form .rightpane-full-col {
  padding-left: 15px;
}

.empty-label {
  padding-bottom: (1.6rem / $divisor);
}

.cvc-img {
  max-width: 120px;
  margin-top: (3rem / $divisor);
  height: auto;
  text-align: left;
}
