.receipt {

}

.body-receipt {
  overflow-y: hidden;
}


.receipt-header {
  padding: (1.5rem / $divisor);
  padding-left: (3rem / $divisor);
  // border-bottom: 2px dashed grey;
  margin-bottom: (1rem / $divisor);
  background: url(../img/dashed-border-horizontal.jpg) repeat-x;
  background-position: bottom;
  position: relative;
}

.receipt-header h2, .receipt-body-table__left-column h2 {
  font-size: (2rem / $divisor);
}

.receipt h2 {
  margin-bottom: 0;
}

.receipt-body {
  background: url(../img/dashed-border-horizontal.jpg) repeat-x;
  background-position: top;
  width: 100%;
  height: 100%;
  font-size: (0.8rem);
}

.leftpane--show-mobile .receipt-body {
  overflow-y: auto;
}

.receipt-body tr td:first-child {
  padding-left: (3rem /$divisor);
}

.receipt-body tr td:last-child {
  // padding-right: (3rem /$divisor);
  // padding-left: (3rem /$divisor);
}

.receipt-body-table {
  width: 100%;
  height: 100%;
}

.receipt-body-table__left-column {
  width: 20%;
}

.receipt-body-table__middle-column--light, .receipt-body-table__middle-column--dark {
  width: 50%;
}

.receipt-body-table__middle-column--light a {
  color: $gray-400;
  cursor: pointer;
}

.receipt-body-table__middle-column--dark a {
  color: $gray-500;
  cursor: pointer;
}

.receipt-body-table__info-column img {
  width: (1.2rem / $divisor);
  margin-right: (1rem / $divisor);
  margin-top: (-0.5rem / $divisor);
}

.receipt-body-table__info-column span {
  color: theme-color("primary");
  // line-height: 2.5rem;
}

.receipt-body-table__right-column {
  width: 10%;
  text-align: center;
  color: theme-color("primary");
  border-left: 1px solid $gray-200;
}

.receipt-body-section--dashed {
  background: url(../img/dashed-border-horizontal.jpg) repeat-x;
  background-position: top;
}

.receipt-body-section--solid {
  border-top: 1px solid $gray-200;
}

.receipt-body-section--dashed tr:first-child td, .receipt-body-section--solid tr:first-child td {
  padding-top: (2rem / $divisor);
}

.receipt-body-section--dashed tr:last-child td, .receipt-body-section--solid  tr:last-child td {
  padding-bottom: (2rem / $divisor);
}

.receipt-body tr td {
  padding-bottom: (0.8rem / $divisor);
}

.receipt__total-amount h2, .receipt__total-title h2 {
  color: theme-color("primary");
}

.receipt-body-table--dashed {
  width: 100%;
}

.VAT {
  margin-top: (1rem / $divisor);
  // margin-left: (1rem / $divisor);
  font-size: (1.3rem / $divisor);
}

.receipt-footer-mobile {
  @include media-breakpoint-down(md) {
    height: 80px;
    width: 100%;
    background: #fbe7e3;
  }
}

.receipt-close-btn {
  position: absolute;
  top: (1rem / $divisor);
  right: (1.5rem / $divisor);
}
.receipt-close-btn img {
  max-width: (1.5rem / $divisor);
  height: auto;
}

.mini-faq, .mini-faq--mobile {
  width: 100%;

  margin-top: (3rem / $divisor);
}

.mini-faq--mobile {
  display: none;
  @include media-breakpoint-down(md) {
    display: block;
  }
}

.mini-faq td, .mini-faq--mobile td {
  border: 1px solid theme-color("primary");
  padding: (1rem / $divisor);
  font-size: (1.3rem / $divisor);
}
