.recipe-card {
  max-width: 960px;
  margin: 0 auto;
  background: white;
  padding: (8rem / $divisor);
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 15px;
    background: none;
  }
}

.recipe-card__image {
  @include make-col(6);
  @include make-col-ready();
  padding-right: (4rem / $divisor);

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    padding-right: 15px;
  }
}

.recipe-card__image-inner {
  background-position: center;
  background-size: cover;
  width: 100%;

  @include media-breakpoint-down(sm) {
    height: 300px;
  }
}

.recipe-card__information {
  @include make-col-ready();
  @include make-col(6);
  padding-left: (4rem / $divisor);

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    padding-left: 15px;
    margin-top: (-8rem / $divisor);
  }
}

.recipe-card__information-inner {
  @include media-breakpoint-down(sm) {
    background: white;
    padding: (2rem / $divisor);
    margin: (2rem / $divisor);
  }
}

.recipe-card__img-tag {
  display: none;

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
    height: auto;
    max-height: 300px;
  }
}

.recipe-card__close, .recipe-card__close--mobile {
  position: absolute;
  top: (3rem / $divisor);
  right: (3rem / $divisor);
  z-index: 999;
  // display: none;

}

.recipe-card__close {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.recipe-card__close--mobile {
  display: none;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.recipe-card__chef-cooking-time {
  width: 100%;
  margin: (3rem / $divisor) 0;
}

.recipe-card__chef-cooking-time td {
  width: 50%;
  text-align: center;
  padding: (1.5rem / $divisor) 0;
  border-top: 1px solid $gray-300;
  border-bottom: 1px solid $gray-300;
  font-size: (1.3rem / $divisor);
  font-weight: 500;
  color: theme-color("primary");
}

.recipe-card__chef-cooking-time td:first-child {
  border-right: 1px solid $gray-300;
}


.recipe-card-row {
  @include make-row()
}


.recipe-card__what-you-get, .recipe-card__what-you-get {
  @include make-col-ready();
  @include make-col(6);
}

.recipe-card__what-you-get ul , .recipe-card__what-you-get ul {
  list-style: none;
  padding-left: 0;
  margin-top: (3rem / $divisor);
}
