.rightpane-success-icon-col img {
  max-width: 70px;
  height: auto;

  @include media-breakpoint-down(sm) {
    margin-bottom: (1rem / $divisor);
  }
}

.rightpane-success-text-col h2 {
  color: theme-color("primary");
}

.rightpane-success-text-col p {
  color: theme-color("primary");
}

.success-divider {
  width: 100%;
  height: 1px;
  background-color: $gray-300;
  margin: (3rem / $divisor) 15px;
  // margin-top: 0px;
}

.success-list {
  margin-left: 0;
  padding-left: 15px;
  margin-top: (2rem/$divisor);
}

.success-list li {
  margin-bottom: (1rem/$divisor);
}

.rightpane-success-text-col {
  margin-bottom: 0px;
}


.share-header {
  margin-bottom: (3rem / $divisor);
}

.social-row {
  margin-top: (1rem / $divisor);
}

.social-icon img {
  max-width: (5rem / $divisor);

}

.social-icon {
  float: right;
  margin-left: (0.5rem / $divisor);

  @include media-breakpoint-down(xs) {
    float: left;
    margin-left: 0px;
    margin-right: (0.5rem / $divisor);
  }
}

.share-link-col {
  @include make-col-ready();
  @include make-col(3);
  @include make-col-offset(3);

  @include media-breakpoint-down(xl) {
    @include make-col(4);
    @include make-col-offset(2);
  }

  @include media-breakpoint-down(lg) {
    @include make-col(5);
    @include make-col-offset(1);
  }

  @include media-breakpoint-down(sm) {
    @include make-col(12);
    @include make-col-offset(0);
  }
}

.copy-paste-link {
  line-height: (4rem / $divisor);
}

.social-link-text {
  line-height: (5rem / $divisor);
}

.success-btn {
  margin-top: (3rem / $divisor);
}
