<script type="stylesheet" href="../assets/css/elements/2-column-left.css"></script>

<!-- Section: Profile - 2col-left -->
<div class="homepage-container">
    <div class="row">
      <div class="header-img-col" style="background-image: url('../assets/img/franck.jpg')"></div>

      <div class="header-text-col">
        <p class="homepage__campaign-intro">UCOOK + YUPPIECHEF PRESENT</p>
        <h1 class="homepage__campaign-name">The Feast with<br> Franck Dangereux</h1>
        <h3 class="homepage__campaign-description">Renowned chef and world-famous restaurateur, Franck Dangereux, has created the ultimate festive feast box. Order now, and get the ingredients delivered to your door before the 24th of December.</h3>
        <a href="1.html" class="btn btn-primary btn-lg order-btn">Order now</a>
      </div>
    </div>
</div>
