<!-- should be global and not exclusive to homepage -->
<script type="stylesheet" href="../assets/css/elements/homepage-dishes.css"></script>

<div class="row">
  <div class="dish-col">
    <!-- Recipe Card - Grid -->
    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Starter
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Smoked salmon potato cakes
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Main
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Roasted Beef Fillet with Herb and Anchovy Butter
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Side
      </div>
      <div class="homepage-dish-card__title">
        <a href="recipe.html">
          Roast Potatoes
        </a>
      </div>
    </div>
  </div>

  <div class="dish-col">
    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Main
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Braised Pork Belly with Pine Needles
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Side
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Asparagus with Almond Butter
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Side
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Green salad
        </a>
      </div>
    </div>
  </div>

  <div class="dish-col">
    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Main
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Duck à L’Orange
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Side
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Ratatouille Provençal
        </a>
      </div>
    </div>

    <div class="homepage-dish-card">
      <div class="homepage-dish-card__image">
        <a href="../recipe.html">
          <img src="../assets/img/duck.jpg" />
        </a>
      </div>
      <div class="homepage-dish-card__description">
        Side
      </div>
      <div class="homepage-dish-card__title">
        <a href="../recipe.html">
          Chickpea and Lentil Salad
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="the-dishes-order-col">
    <a href="1.html" class="btn btn-primary btn-lg order-btn">Order now</a>
  </div>
</div>
