<!-- should be global and not exclusive to homepage -->
<script type="stylesheet" href="../assets/css/elements/homepage-parallax.css"></script>

<!-- Section: Parallax - to be included on as needed bases -->
<div class="parallax parallax-1" ></div>
